<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center ion-padding">
    <h2>Daftar Akun Baru</h2>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input 
          label="Username" 
          labelPlacement="floating" 
          [(ngModel)]="username"
          placeholder="Masukkan username">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input 
          label="Password" 
          labelPlacement="floating" 
          [(ngModel)]="password"
          type="password"
          placeholder="Masukkan password">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input 
          label="Konfirmasi Password" 
          labelPlacement="floating" 
          [(ngModel)]="confirmPassword"
          type="password"
          placeholder="Konfirmasi password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="register()">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Daftar
      </ion-button>
      <ion-item lines="none" class="ion-text-center ion-margin-top">
        <ion-label>
          Sudah punya akun? <a href="/login">Masuk di sini</a>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>